body{
    background-color: #1e1e1e;
}
.main{
    
    padding: 20px;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container{
    margin: auto auto;
    background-color: #d9d9d9;
    margin: auto;

    width:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  justify-content: space-between;
}
.heading{
    padding: 0 20px;
    width: 97%;
    background-color: #000000;
    color: white;
}
h3{
    font-weight: 300;
}
#search-container{
 
    margin: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 95%; */
    height: 100%;
    gap: 10px;
}
#search-container>#search{
    padding: 10px;
   flex-grow: 4;
   /* outline-style:auto; */
   border: 1px solid black;
}

#sort-container{
    margin:0px 20px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#sort-container>button,#search-btn{
    font-size:medium;
    background-color: #000000;
    color: white;
    width: 13%;
    padding: 6px;
    border: none;
    /* height: 3vw; */
}

#table,#table2{
    width: 96.5%;
    margin: 20px;
    border-collapse:collapse;
    margin-bottom: 10px;
}
#table2{
    display: none;
} 

#table,#table2, td{
      border: 1px solid black; 
     /* text-align: center; */
}

#details,#details2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
img{
    width: 25px;
    border: 1px solid black;
    border-radius: 12.5px;
}

td{
    padding: 1%;
}

